@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-orange: 254, 104, 0;
  --main-brown: 58, 25, 10;
  --lighter-brown: #402013;
  --lightest-brown: #4e3226;
  --border-col: #dddddd;
  --shadow-col: #C1C1C1;
  --gray-bg: #f4f4f4;
  --yellow: #fdc100;
  --blue: #008dfe;
  --blue-rgb: 0, 141, 254;
  --dark-blue: #1e293b;
  --dark-blue-rgb: 30, 41, 59;
  --footer-grey: #344154;
  --footer-text-grey: #687385;
}

.footerGreyText {
  color: var(--footer-text-grey)
}

.blueText {
  color: var(--blue);
}

.greyText {
  color: var(--footer-text-grey)
}

.blueBg {
  background: var(--blue)
}

.transBlueBg {
  background: #cce8ff;
}

.orangeText {
  color: rgb(var(--main-orange))
}

.orangeBg {
  background: rgb(var(--main-orange));
}

.blackGradient {
  position: absolute;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
  pointer-events: none; 
  z-index: 1;
}

.footerList li {
  padding-bottom: 8px; /* Adjust the value as needed */
  color: var(--footer-text-grey)
}

.tradeColor {
  color: var(--yellow)
}

.verifiedColor {
  color: var(--blue)
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
